<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>milling-twin</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>UserLoggedFilter</filter-name>
		<filter-class>uk.ac.cf.twin.milling.servlets.UserLoggedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserLoggedFilter</filter-name>
		<url-pattern>/sm</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>uk.ac.cf.twin.milling.servlets.ServletMain</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/sm</url-pattern>
	</servlet-mapping>
</web-app>